* {
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}
body {
  margin: 0;
}
// .modal-site-mobile-modal {
//   display: none;
// }
.mobile-modal {
  // position: absolute;
  display: none;
}
#span {
  transition: 0.4s all;
  transform: rotateX(0deg);
  &.active {
    transition: 0.4s all;
    transform: rotateX(180deg);
  }
}

.info-nav-low-sites-sites {
  padding: 0 50px;
  font-family: "Sora", sans-serif !important;
  display: flex;
  background-color: #fff;
  justify-content: center;
  position: absolute;
  height: 0px;
  opacity: 0;
  align-items: baseline;
  overflow: hidden;
  left: 0;
  right: 0;
  gap: 2rem;
  border-top: 5px solid #00aeef;
  transition: all 0.4s;
  h3 {
    color: #005271;
  }
  strong {
    color: #033244;
  }
  .line {
    height: 2px;
    width: 80px;
    background-color: rgba(128, 128, 128, 0.226);
  }
  &.active {
    transition: all 0.4s;
    overflow: hidden;
    opacity: 1;
    height: 300px;
    align-items: baseline;
    overflow: hidden;
  }
}

header {
  //   @import url("https://fonts.cdnfonts.com/css/archer-book?styles=15304,15305,15302,15319,15303,15318,15306,15322,15307,15323,15314,15330,15315,15331,15316,15332,15317,15333,15308,15325,15309,15324,15321,15320,15310,15326,15311,15327,15313,15328,15312,15329");
  font-family: "Archer Book", sans-serif;
  font-family: "Archer Bold", sans-serif;
  font-family: "ArcherPro", sans-serif;
  font-family: "Archer Hairline", sans-serif;
  font-family: "Archer Thin", sans-serif;
  font-family: "Archer Extra Light", sans-serif;
  font-family: "Archer Light", sans-serif;
  font-family: "Archer Medium", sans-serif;
  font-family: "Archer Semibold", sans-serif;
  position: relative;
  .mobile-modal {
    opacity: 0;

    overflow: hidden;
    height: 0px;

    display: none;
    .site-mobile-modal {
      // display: none;
      height: 0px;
    }
    .content-modal-baixo {
      display: none;
    }
  }

  .banner {
    background-image: url(../IMG/banner_resized.jpg);
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: solid 5px #71d8ff;
  }
  .links-elements-nav-top {
    p {
      color: #2c3a2f;
    }
  }
  .nav-top {
    background-color: #fff;
  }
  .elements-nav-top {
    display: flex;
    justify-content: space-around;
  }
  .links-elements-nav-top-dia-dia {
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }
  .links-elements-nav-top {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      height: 30px;
    }
  }
  .logo-nav-top {
    a {
      color: #2c3a2f;
      text-decoration: none;
      &:hover {
        color: #2c3a2f;
      }
    }
    img {
      margin-right: 20px;
    }
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .nav-low {
    border-top: solid 5px #71d8ff;
    background-color: #033244;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    justify-content: space-around;
    p {
      margin: 0;
      color: #fff;
      font-size: 14px;
    }
  }
  .nav-low-infos {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    justify-content: space-around;
    p {
      margin: 0;
      color: #fff;
      font-size: 14px;
    }
  }
  .nav-low-sites {
    display: flex;
    align-items: center;
    gap: 2rem;
    span {
      color: #fff;
    }
  }
  .nav-low-sites-sites {
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .nav-low-sites-links {
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    display: flex;
    gap: 2rem;
  }
  .nav-low-sites-links-mobile {
    display: none;
  }
  .pesquisar {
    border: solid 1px #71d8ff;
    border-radius: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px;
    input {
      border: none;
      outline: none;
      background: none;
      color: #fff;
    }
    span {
      color: #e2f7ff;
    }
    p {
      font-size: 14px;
    }
  }
  .img-mobile {
    display: none;
  }
  #span-mobile {
    display: none;
  }
}
section {
  font-family: "Roboto Slab", serif;
}
footer {
  font-family: "Roboto Slab", serif;
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    .banner {
      border: none;
    }
    .nav-low {
      display: none;
    }
    .info-nav-low-sites-sites {
      display: none;
    }
    &.active {
      z-index: -1;
    }
    .banner {
      height: 290px;
      position: relative;
    }
    .logo-nav-top {
      display: none;
    }
    .nav-low-sites-links {
      display: none;
    }
    .nav-low-sites-links-mobile {
      flex-direction: column;
      display: flex;
      //   animation: on 1s alternate;
      transition: all 0.4s;
      opacity: 0;
      p {
        color: #fff;
        margin: 0;
      }
      &.active {
        opacity: 1;
        display: flex;
        transition: all 0.4s;
      }
    }
    .links-elements-nav-top-dia-dia {
      display: none;
    }
    .nav-low-sites-sites {
      span {
        transition: 0.4s all;
        transform: rotateX(0deg);
        &.active {
          transition: 0.4s all;
          transform: rotateX(180deg);
        }
      }
    }
    .nav-top {
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      border-bottom: solid 5px #71d8ff;
    }
    .img-mobile {
      display: flex;
      height: 30px;
    }
    #span-mobile {
      cursor: pointer;
      display: flex;
    }
  }
  .mobile-modal {
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #ffffff;
      }
    }
    transition: 0.4s all;
    opacity: 0;
    height: 100%;
    background-color: #283137;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    gap: 2rem;
    padding: 0px 20px 0px 20px;
    flex-direction: column;

    .button-modal {
      cursor: pointer;
      color: #fff;
      background: none;
      border: none;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .line-modal {
      height: 2px;
      background-color: #fff;
      padding: 1px;
    }
    .content-modal {
      display: flex;
      flex-direction: column;
      gap: 16px;
      p {
        color: #fff;
        margin: 0;
      }
    }
    .site-mobile-modal {
      display: flex;
      align-items: center;
      color: #5eb7f2;
      flex-direction: column;
      align-items: baseline;
    }

    .modal-site-mobile-modal {
      background-color: black;
      overflow: hidden;
      height: 0px;
      opacity: 0;
      color: #fff;
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 0;
      border-radius: 10px;
      font-size: 12px;
      margin-top: 0px;
      transition: 0.4s all;
      &.active {
        gap: 1rem;
        opacity: 1;
        transition: 0.4s all;
        overflow: hidden;
        height: 110px;
        display: flex;
        padding: 15px;
        margin-top: 16px;
      }
    }
    .site-mobile-modal-titulo {
      display: flex;
      align-items: center;
      color: #5eb7f2;
      cursor: pointer;
    }
    .content-modal-baixo {
      a {
        color: #5eb7f2;
        &:hover {
          color: #5eb7f2;
        }
      }
      color: #5eb7f2;
      display: flex;
      flex-direction: column;
      gap: 16px;
      p {
        margin: 0;
      }
    }
    #span-site-mobile {
      transition: 0.4s all;
      transform: rotateX(0deg);
      &.active {
        transition: 0.4s all;
        transform: rotateX(180deg);
      }
    }
    .topo-modal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1rem;
    }
    &.active {
      transition: 0.4s all;
      opacity: 1;
      display: flex;
      z-index: 2;
    }
  }
}
